.progress-wrapper {
  width: 500px;
  font-family: sans-serif;
}

.progress-container {
  width: 100%;
  height: 32px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 12px;
  background-color: #e0e0e0;
}

.progress-bar {
  height: 100%;
  display: flex;
  color: white;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.controls button {
  margin-right: 10px;
}
